<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<LogInURL>https://www.edgewordstraining.co.uk/demo-site/my-account/</LogInURL>
			
			<username>duleepgill@email.com</username>
			<password>Passwordpassword1.</password>
					
		</EnvironmentVariables>
	</RunConfiguration>
	
	
</RunSettings>