<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<LogInURL>https://www.edgewordstraining.co.uk/demo-site/my-account/</LogInURL>
			
			<username>duleepgill@email.com</username>
			<password>Passwordpassword1.</password>
			
			
			<firstname>Jane</firstname>
			<lastname>Smith</lastname>
			<addressL1>1 House Lane</addressL1>
			<addressL2>Leicester</addressL2>
			<city>Leicestershire</city>
			<postcode>LE1 9BH</postcode>
			<phone>07111111111</phone>
			
			
		</EnvironmentVariables>
	</RunConfiguration>
	
	
</RunSettings>